<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.senac.pi.demoviews" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextView_Demo"
            android:label="@string/title_activity_text_view__demo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EditTextDemon"
            android:label="@string/title_activity_edit_text_demon"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ImageView"
            android:label="@string/title_activity_image_view"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AutoCompleteDemo"
            android:label="@string/title_activity_auto_complete_demo"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageButton"
            android:label="@string/title_activity_image_button"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CheckBoxToggleButtonActivity"
            android:label="@string/title_activity_check_box_toggle_button"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ProgressDialogDemoActivity"
            android:label="@string/title_activity_progress_dialog_demo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
